<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
  </head>
  <body>
    <div class="login-container">
      <div class="title">Login</div>
      <form action="/user/login" method="post">
        <label>Email</label>
        <input type="text" required name="email" />
        <label>Password</label>
        <input type="password" required name="password" />
        <button type="submit">Login</button>
      </form>
      <div class="signup">
        <p>Don't have an account? <a href="/signup">Sign up</a></p>
      </div>
    </div>
  </body>
</html>
